@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

* {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #222831;
  /* Replace with the path to your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#shortview {
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  background-color: black;
}

.visitchanneltext {
  /* position: absolute;
    left: 0px;
    top: 900px;  */
  color: white;
  font-size: 30px;
  font-weight: 900;
  margin-top: 50px;
}

#buttons {
  position: relative;
  top: -100px;
  font-weight: 500;
}

#logo {
  /* display: inline; */
  width: 8%;
  height: auto;
  position: relative;
  top: -30px;
  margin-left: 3vw;
}

.content button {
  /* display: inline; */
  font-size: 38px;
  height: 70px;
  width: 280px;
  border: 2px solid red;
  border-radius: 20px;

  background-color: yellow;
  color: black;
  font-weight: 600;
  /* position: relative;
    top: -400px; */
  font-family: "Poppins", sans-serif;
}

#viewscount {
  text-shadow: 0px 1px 1px red;
  position: absolute;
  top: 100px;
  right: 4px;
  font-size: 8vh;
  font-weight: 900;
}

#popshortstext {
  color: lightyellow;
  text-shadow: 1px 2px 2px red;
  /* position: absolute;
    left: 300px;
    top: 750px; */
  font-size: 46px;
  font-weight: 900;
}

strong {
  color: #00ADB5;
  text-shadow: 0 0 10px #00acb58e;
}

#abouttext {
  font-weight: regular;
  background-color: #393e465e;
  font-family: "Poppins", sans-serif;
  font-size: x-large;
  width: 90vw;
  border-radius: 30px;
  color: white;
  text-align: justify;
  height: auto;
  padding: 5rem;
  margin: auto;
  margin-top: 20px;
}

#subscount {
  text-shadow: 0px 1px 1px red;
  position: absolute;
  top: 100px;
  left: 4px;
  font-size: 8vh;
  font-weight: 900;
}

#chname {
  position: relative;
  top: -72px;
  left: 0px;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 1px 0px 20px lightyellow;
  filter: brightness(200);
  text-decoration: blink;
}

#handle {
  position: relative;
  top: -110px;
  left: 0px;
  font-size: 17px;
  font-weight: lighter;
}

header {
  background-color: #393e46;
  /* Adding transparency */
  color: white;
  padding: 40px 0;
  top: 0px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

#button-a {
  text-decoration: none;
  background-color: none;
  border: 2px solid #00ADB5;
  border-radius: 50px;
  padding: 14px 40px;
  color: #00ADB5;
  font-size: 0.8em;
}

#button-a:hover {
  background-color: #00ADB5;
  color: white;
  box-shadow: 0 0 40px #00acb5d8;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 10px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #666;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 0 20px;
  flex: 1;
}

#maintext {
  font-family: "Princess Sofia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 7em;
  text-shadow: 0 0 20px #ffffff;
}

#subtext {
  font-size: 1.4em;
}

.headings {
  width: 100vw;
  height: 70%;
  display: flex;
  justify-content: space-around;
}

.links {
  height: 30%;
  width: 100vw;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.7em;
}

.links-wrapper {
  width: 50vw;
  height: fit-content;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

#btn {
  color: white;
  padding: 12px 40px;
  border-radius: 13px;
  background-color: #d9d9d932;
  border: none;
  cursor: pointer;
}

#btn:hover {
  background-color: #d9d9d90d;
}

#stats {
  border-radius: 20px;
  width: 18rem;
  height: 11rem;
  background-color: #d9d9d934;
}

.subs,.likes {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subs i{
  color: rgb(245, 61, 61);
}

.subs p, .likes p{
  font-size: 1.4em;
  padding-top: 0.6em;
  margin-left: 10px;
}

.shorts {
  /* position: relative;
    top: -350px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.short {
  color: yellow;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  margin-right: 0px;
  /* margin-bottom: 15px; */
  transition: transform 0.3s;
  background-color: rgba(255, 255, 255, 0.8);
  /* Adding background color with transparency */
  position: relative;
  /* Added */
}

.short:hover {
  transform: scale(1.05);
}
/* #sbarbutton{
    position: ;
} */
.short img {
  max-width: 100%;
  height: auto;
  display: block;
  /* margin-bottom: 10px; */
}

.short p {
  margin: 0;
}

.short .views {
  /* Added */
  position: absolute;
  bottom: -25px;
  left: 10px;
  font-size: 14px;
  color: yellow;
  border: solid red;
}

footer {
  /* Adding transparency */
  color: #fff;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}



body,
h1,
h2,
nav a,
p,
footer {
  font-family: "Poppins", sans-serif;
}
/* sidebar */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  font-weight: 900;
  margin: 5px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  background-color: white;
  margin-bottom: 10px;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  transition: 0.2s;
  background-color: black;
  color: white;
}

.sidebar h2 {
  box-shadow: 0px 0px 12px 5px yellow;
  font-size: 40px;
  margin: 10px;
  height: auto;
  color: black;
  font-weight: 900;
  text-align: center;
  border: 2px solid black;
  background-color: white;
  margin-bottom: 30px;
}

.content {
  flex-grow: 1;
  padding: 16px;
}

.hamburger {
  border: 2px solid white;
  /* box-shadow: 2px 2px 2px yellow; */
  float: right;
  margin-right: 20px;
  /* display: inline; */
  font-size: 30px;
  cursor: pointer;
  background: black;
  color: white;
  width: auto;
  height: auto;
}

#rem {
  text-decoration: none;
  color: white;
}

/* Add this CSS code for mobile devices */
@media screen and (max-width: 600px) {
  #stats {
    width: 80%;
  }

  #logo {
    width: 34%;
    margin-left: 76px;
  }
  .short img {
    width: 100vw;
  }
  #buttons {
    display: none;
  }
  #subscount {
    font-size: 2vh;
    margin-left: 1px;
  }
  #viewscount {
    font-size: 2vh;
    margin-right: 1px;
  }
  #chname {
    margin-top: 40px;
    font-size: 55px;
  }
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .shorts {
    margin-top: 20px;
  }
  .short {
    width: 100%;
  }

  h1 {
    font-size: 30px;
    margin-top: 20px;
  }
  nav a {
    font-size: 14px;
  }
  p {
    font-size: 16px;
  }
  footer {
    padding: 10px 0;
  }
  /* SideBar */
  .msidebar {
    width: 0;
  }
}

/*  footer css */

.footer-dark {
  color: #f0f9ff;
  background-color: #383843;
}

.footer-dark h3 {
  margin-top: 0;
  /* margin-bottom: 12px; */
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }


  .headings {
    flex-direction: column;
  }
  
  .links-wrapper {
    width: 90vw;
  }


  .headings {
    align-items: center;
  }

  #stats {
    margin-top: 10px;
  }

  .subs i, .likes i{
    scale: 0.7;
  }
  
  .subs p, .likes p{
    font-size: 1.2em;
    margin-left: 2px;
    padding-top: 0.8em;
  }
  #maintext {

    font-size: 4em;
  }
  
  #subtext {
    font-size: 1em;
  }

  #btn {
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
    background-color: #d9d9d932;
    border: none;
    cursor: pointer;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}
